.header{
    background: rgb(223, 205, 10);
    box-shadow: black 2px;
    font-size: 20px;
    font-weight: bold;
    color: black;
    display: flex;
    justify-content: flex-start;
    height: 10%;
    width: 100%;
    position:relative;
    margin: 0;padding: 1%;
}
.note{
    display: flex;
    padding: 5%;
    border:2px solid black;
    max-width: 20vw;
    justify-content:center;
    /* width: 30vw; */
    position: relative;
    margin:5%;
    padding: 4%;
}

.footer{
    text-align: center ;
    /* margin: auto; */
    position:absolute ;
    bottom : 0;
    /* margin-bottom: 0px ; */
}